body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 0px; 
}
.navbar-default {
    background-color: #ffffff !important;
}
.margin-right{
    margin-right: 20px;
}
.buy-now-button{
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #000000;
}
.buy-now-button a{
    text-decoration: none;
    color: white;
}
.buy-now-button-2 a{
    text-decoration: none;
    color: white;
}
.head{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shadow{
    box-shadow: 5px 5px 30px lightgray;
    border-radius: 10px;
    padding: 20px 20px;
}
/*.card-body h1,h5,p{
    display: flex;
    justify-content: center;
}*/
.card-body{
    flex-direction: column;
}
.card-text{
    font-size: 15px;
    text-align-last: center;
}
.head2{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        
}
.row h3, img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bag{
    box-shadow: 5px 5px 15px gray;
    padding: 45px 60px;
    border-radius: 0px 10px 0px 30px;
    margin-right: 20px;
    margin-top: 60px;
}
.bag-head{
    margin-top: 30px;
}
.beauty{
    box-shadow: 5px 5px 15px gray;
    padding: 45px 60px;
    border-radius: 10px 0px 30px 0px;
    margin-bottom: 30px;
}
.beauty-head{
    margin-top: 10px;
}
.shoes{
    box-shadow: 5px 5px 15px gray;
    padding: 45px 60px;
    border-radius: 10px 0px 30px 0px;
}
.see-all{
    color:#FFA91E;
}
.contactus-bgcolor{
    background-color: #F7EDE1;
    border-radius: 10px;
    margin-top: 70px;
    height: 300px;
}
.buy-now-button-2{
    color: white;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #000000;
}
.copyright{
    margin-top: 30px;
}